WorkItOut/.vs
WorkItOut/packages
WorkItOut/WorkItOut/bin
WorkItOut/WorkItOut/obj
WorkItOut/WorkItOut.Business/bin
WorkItOut/WorkItOut.Business/obj
WorkItOut/WorkItOUt.Data/bin
WorkItOut/WorkItOUt.Data/obj
